footer{
    width: 100%;
    padding:50px 0px;
    background-color: blanchedalmond;
    grid-area: footer;
}

.contenedor__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.caja__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.caja__footer .logo img{
    width: 180px;
}

.caja__footer .terminos{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.caja__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.caja__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.caja__footer a:hover{
    opacity: 0.8;
}

.caja__footer a .fab{
    font-size: 20px;
}

.caja__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.caja__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.caja__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;

}
