@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.locales{
    margin-top: 60px; 
    background-color:burlywood;
}



.Titulo{
    display: flex;
    font-size: 2rem;
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

.contenedor__titulo{
    margin: auto;
    padding: 80px;
    display: flex;
    justify-content: center;
}

.contenedor__formulario{
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
}


p{
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 20px;
    
}

.galeria{
    display: grid;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    justify-content: center;
    background-color: burlywood;
}

.contenedor__imagenes{
    display: grid;
    grid-template-columns:repeat(4,33.3%) ;
}

.img__productos{
   width: 180px;
   height: 200px;
   object-fit:contain;
}

.img__local{
    width: 180px;
   height: 200px;
   object-fit: contain;

}



.boton__submit{
    margin-top: 15px;
}



  footer{
      width: 100%;
      padding:50px 0px;
      background-color: blanchedalmond;
      grid-area: footer;
  }

  .contenedor__footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: auto;
      margin-top: 100px;
  }

  .caja__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .caja__footer .logo img{
      width: 180px;
  }

  .caja__footer .terminos{
      max-width: 350px;
      margin-top: 20px;
      font-weight: 500;
      color: #7a7a7a;
      font-size: 18px;
  }

  .caja__footer h2{
      margin-bottom: 30px;
      color: #343434;
      font-weight: 700;
  }

  .caja__footer a{
      margin-top: 10px;
      color: #7a7a7a;
      font-weight: 600;
  }

  .caja__footer a:hover{
      opacity: 0.8;
  }

  .caja__footer a .fab{
      font-size: 20px;
  }

  .caja__copyright{
      max-width: 1200px;
      margin: auto;
      text-align: center;
      padding: 0px 40px;
  }

  .caja__copyright p{
      margin-top: 20px;
      color: #7a7a7a;
  }

  .caja__copyright hr{
      border: none;
      height: 1px;
      background-color: #7a7a7a;

  }

  /* grilla grid*/

  .grilla{
      display: grid;
      grid-template-areas: 
      "header header header"
      "contenido contenido contenido"
      "publicidad publicidad publicidad"
      "footer footer footer";
      grid-template-rows: repeat(4,1fr);
      grid-template-columns: auto;
  }

  section#servicios{
      grid-area:servicios;
  }

  section#publicidad{
      grid-area:publicidad;
  }

  /*elementos responsivos :
  el menu se hara luego bootstrap*/

@media screen and (max-width:768px) {

    body{
        font-size: 150%;
    }
    
    .logo{
        font-size: 40px;
    }

 

    #seleccionado{
        transform: scale(1);
    }

    .contenedor__imagenes{

        grid-template-columns: repeat(3,3333.3%);
    }

    .contenedor__titulo{

        font-size: 150%;

    }

}


    @media screen and (max-width:420px){

      

        .contenedor__imagenes{
            grid-template-columns: repeat(2,50%);
        }

        .titulo{
         font-size: 12px;
        }

      
      
        
    }